body {
    background-color: rgb(224, 212, 197);
    color: rgb(51, 46, 46);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
header {
    text-align: right;
    background-color: rgb(16, 49, 16);
    border-bottom: 20px solid rgb(151, 155, 151);
    color: rgb(51, 49, 49);
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    
}

h1 {
    font-size: xx-large ;
    font-weight: bolder;
    text-align: center;
    margin-top: 150px;
}     
h2 {
    text-align: center;
}
#image {
    margin: 0 auto;
}
p {
    text-align: center;
}
.box1{
    display: flex;
    justify-content: center;
}
ul li {
    display: block;
    margin-right: auto;
}
a {
    text-decoration: none;
    padding: 1%;
}
.box2 {
    text-align: center;
    display: block;
    justify-content: center;
    border-radius: 0;
    border-color: rgb(16, 49, 16);
    padding: 20px;
}
footer{
    text-align: center;
    background-color: rgb(16, 49, 16);
    line-height: 25px;
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
    color: beige;
}
button {
    width: 200px;
    height: 70px;
    background-color: gray;
    color: black;
    padding: 10px;
    border-radius: 15px;

}
input {
    width: 30%;
}